<h2>Mountains Matching "<%= @search %>"</h2>
<div class="search-results">
<% @mountains.each do |mountain| %>
  <h4><%= link_to "#{mountain.name} - #{mountain.city}, #{mountain.state}", mountain_path(mountain.id) %></h4>
<% end %>
</div>
