/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Lobster%7CSource+Sans+Pro');
 @import url('https://fonts.googleapis.com/css?family=Raleway');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


 body {
   font-family:'Montserrat',sans-serif;position:relative;
   margin: 0px;


 }

 h1{
   padding: 1em;
   margin: 1em;
 }

h2 {
  font-family:'Montserrat',sans-serif;position:relative;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
 /*text-shadow: 2px 2px black;*/
}

 h3 {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 p {
   padding-bottom: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
   overflow-wrap: normal;
   text-overflow: ellipsis;
   word-wrap: break-word;

 }

.review-text {
   margin-top: 5px;
   margin-bottom: 5px;
   overflow-wrap: normal;
   text-overflow: ellipsis;
   word-wrap: break-word;
   white-space: initial;
 }

.search-results {
  background-color: #ededed;
  text-align: center;
  float: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-results a {
  color: black;
}
.search-results a:hover {
  color: blue;
}

ul {
  margin-top: 0px;
  margin-left: 0px
}

 img {
   width: 100px;
   height: 60px;
 }


 a {
   color: white;
   text-decoration: none;
 }

 a:hover{
   color: #dbdbdb;
 }


 .mountain-tile-name{
   width: 100%;
   overflow-wrap: normal;
   text-overflow: ellipsis;
   word-wrap:normal;
   white-space: initial;
 }

 .mountainimage{
   grid-column: 1;
   float: left;
   width: 100px;
   height: 60px;
   margin-right: 10px;
   margin-bottom: 10px;
 }


 .button {
     border: none;
     color: white;
     border-radius: 4px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin: 4px 2px;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
     background-color: white;
     color: black;
     border: thin solid #e7e7e7;
 }
 .button:hover {
   background-color: #9fbcdb;
 }

 .avatar {
   margin: 1em;
   padding: 5px;
   background: white;
   border-width: thin;
   border-style: solid;
   border-color: white;
 }


 #button.delete {
   border: none;
   color: white;
   border-radius: 4px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
   background-color: white;
   color: black;
   border: thin solid #e7e7e7;
 }

 #button.delete:hover {
   background-color: #9fbcdb;
 }
 .blank {
   display: none;
 }

 .radioStars {

 }
