.new_user {
  width: 200px;
  margin: auto;
  padding: 20px;
 }

.edit_user {
  width: 200px;
  margin: auto;
  padding: 20px;
}

.cancel-account {
  width: 200px;
  margin: auto;
  padding: 20px;
}

.user-list{
  width: 200px;
  margin: auto;
  padding: 20px;
}
