.site-view{
  display: flex;
 flex-wrap: wrap;
 justify-content: center;

 grid-template-columns: 30% 70%;
 grid-gap: 10px;
 color: #444;
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 10px;
 padding-bottom: 30px;
 background-color: #F5F5F5;
}

.site-index{
 margin-right: 10px;
}

.site-tile{
 max-width: 600px;
 min-width: 250px;
 min-height: 60px;
 flex-grow: 2
 /* align-self: left; */
 padding: 12px;
 margin: 10px;
 margin-left: 20px;
 margin-right: 20px;
 background-color: white;
 border-color: #ededed;
 border-width: medium;
 border-style: none;
 white-space: nowrap;
 grid-template-columns: 50% 50%;
 padding-bottom: 36px;
 border-radius:8px;
 box-shadow:10px 10px 30px -15px #000;
 padding:20px 30px;
 font-family:'Montserrat',sans-serif;position:relative
}


.mountain-tile-name{
 width: 100%;
 overflow-wrap: normal;
 text-overflow: ellipsis;
 word-wrap:normal;
 white-space: initial;
}

.mountainimage{
 grid-column: 1;
 float: left;
 width: 100px;
 height: 60px;
 margin-right: 10px;
 margin-bottom: 10px;
}

.site-tile a {
 color: black;
}
.site-tile a:hover {
 color: grey;
}

.title {
  font-family:'Montserrat',sans-serif;
  text-align: center;
  margin: 0px;
  padding: 4rem;
  color: white;
  font-size: 4rem;
  text-shadow: 3px 3px black;
  background-position: 0 0rem;
  background-size: cover;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: black;
  background-image: url(https://2.bp.blogspot.com/-VU1o7hvcAiI/WG8jU5NxClI/AAAAAAAAFUc/GQPaXoSLGUcGkOrSr_SL3IJNk2osKn_-wCLcB/s1600/DSC04934.jpg);
  /*background-size: auto;*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
}

.header-tile{
  box-shadow:10px 10px 30px -15px #000;
}

.title h1 {
    padding: 0px;
    margin:0px;

}
