.review-text {
   margin-top: 5px;
   margin-bottom: 5px;
   overflow-wrap: normal;
   text-overflow: ellipsis;
   word-wrap: break-word;
   white-space: initial;
 }

.mountain-info-tile{
  background-color: white;
  width: 250px;
  opacity: 0.8;
  padding: 10px;
  justify-content: center;
  color: black;
  border-radius:8px;
  box-shadow:10px 10px 30px -15px #000;
  padding:20px 30px;
  font-family:'Montserrat',sans-serif;position:relative
}
