.review-text {
   margin-top: 5px;
   margin-bottom: 5px;
   overflow-wrap: normal;
   text-overflow: ellipsis;
   word-wrap: break-word;
   white-space: initial;
 }

.mountain-info-tile{
  background-color: #ededed;
  opacity: 0.8;
  padding: 10px;
  justify-content: center;
  color: black;
}
